<div class="container">
  <h1>来毛豆网，和最好的老师一对一学编程</h1>
  <script src="./sdk/js/socket.io.js" type="text/javascript"></script>
  <script src="./sdk/js/jquery-1.10.2.min.js" type="text/javascript"></script>
  <script src="./sdk/js/utils.js" type="text/javascript"></script>
  <script src=".sdk/js/adapter.js" type="text/javascript"></script>
  <script src="./sdk/gab.websocket.js" type="text/javascript"></script>
  <script src="./sdk/woogeen.js" type="text/javascript"></script>
  <script src="./sdk/errors.js" type="text/javascript"></script>
  <script src="./sdk/events.js" type="text/javascript"></script>
  <script src="./sdk/peer.js" type="text/javascript"></script>
  <hr>
  <button id="toggle-video">切换视频显示窗口</button>
  <div class="toggle-container">
    <div class="web-video-container">
      <h3 class="header">一对一视频使用步骤</h3>
      <p>
        <strong>注意:</strong> 测试一对一视频，必须用 chrome 浏览器
      </p>
      <p>
        下载安装 Chrome 链接 <a href="http://www.google.hk/intl/zh-CN/chrome/" target=_blank>http://www.google.hk/intl/zh-CN/chrome/</a>
      </p>
      <p>或者也可以通过115网盘下载：<a href="http://115.com/lb/5lbdel83i86z" target=_blank>http://115.com/lb/5lbdel83i86z</a>(礼包码：5lbdel83i86z)</p>
      <iframe id="web-video" name="web-video" frameborder="1">
	   <div id="local">
        <video width="192px" height="240px" id="localVideo" muted="muted" autoplay="autoplay"></video>
       </div>
       <div id="remote">
        <video width="640px" height="240px" id="remoteVideo" autoplay="autoplay"></video>
       </div>
	  </iframe>
    </div>
  </div>
  <script type="text/javascript">
  var serverAddress='http://61.129.90.140:3001/webrtc';
  var p2p=new Woogeen.Peer({
    iceServers : [ {
      urls : "turn:61.129.90.140:4478?transport=udp",
      credential : "master",
      username : "woogeen"
    }, {
      urls : "turn:61.129.90.140:443?transport=udp",
      credential : "master",
      username : "woogeen"
    }, {
      urls : "turn:61.129.90.140:4478?transport=tcp",
      credential : "master",
      username : "woogeen"
    }, {
      urls : "turn:61.129.90.140:443?transport=tcp",
      credential : "master",
      username : "woogeen"
    }, {
      urls : "stun:61.129.90.140"
    } ]
  });  // Initialize a Peer object
  var roomToken=JSON.stringify({host:serverAddress, id:Utils.getQueryStrings()['roomId']});  // Tokens for join a room.
  var localStream = Woogeen.Stream({audio:true,video:true});  // It only initializes a Woogeen.Stream object. Using localStream.init() to initialize stream.
  localStream.addEventListener("access-accepted", function(evt){  // access-accepted event will be triggered when user accepted to use camera/microphone
    attachMediaStream($('#local video').get(0),localStream.stream)  // Show local stream
    p2p.joinRoom(roomToken,localStream);  // Join a chat room.
  });

  $(document).ready(function(){
      p2p.connect(serverAddress,Utils.getQueryStrings()['uId']});  // Connect to peer server.
      localStream.init();  // Initialize local stream.
      //p2p.leaveRoom(roomToken);  // Quit current chat room.
  });

  p2p.addEventListener('stream-subscribed',function(e){  // A remote stream is available.
    $('#remote video').show();
    attachMediaStream($('#remote video').get(0),e.stream.stream);  // Show remote stream.
  });

  p2p.addEventListener('chat-stopped',function(e){  // Chat stopped
    $('#remote video').hide();
  });

  p2p.addEventListener('chat-started',function(e){  // Chat started
    console.log('Video chat is started.');
  });
  </script>
  <div class="web-shell-container">
    <h3 class="header">结对编程使用步骤 (<a href="http://pp2code.com:4200/" target=_blank>点击打开,出现窗口后选择仍然继续</a>)</h3>
    <ol>
      <li>看到登录提示，输入用户名 <strong>pp</strong>, 然后按回车键，之后会提示输入密码，输入密码<strong>2code</strong></li>
      <li>登录成功后，看到 <strong>pp@li342-202:~$</strong> 提示符后，运行 ls 命令测试。</li>
      <li>$ 提示符后，输入 <strong>tmux</strong>后按回车键运行</li>
      <li>另外启动浏览器，登录另一个窗口，输入运行 <strong>tmux a</strong> 命令
        (以上这一步，如果是单人自己测试需要做，如果是2人测试，则由第二个人做即可）</li>
        <li>此时可以看到，两个窗口同时可以对文件ls浏览以及用vi修改编译运行源码，这个时候双方就成功进入了结对编程（pair programming）模式。</li>
      </ol>
      <iframe src="http://pp2code.com:4200/" id="web-shell" name="web-shell" frameborder="1"></iframe>
    </div>
  </div>
  <script>
    $(function() {
      $("#toggle-video").click(function(){
        var toggle_width = $(".web-shell-container").width() == 720 ? "100%" : "720px";

        if($(".web-video-container").css("display") == "block") {
          $(".web-video-container").hide();
        } else {
          $(".web-video-container").show("slow");
        }

        $(".toggle-container").animate({width: "toggle"});
        $('.web-shell-container').animate({width: toggle_width});
      });
    });
  </script>
